:root{
  --dark_green: #0e541a;
}

body {
  margin: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.results-container{
  max-width: 400px;
  min-width: 300px;
  margin: auto;
}

#results-table {
  border-collapse: collapse;
}

table {
  width: 100%;
}
table, td, th {
  border: 1px solid var(--dark_green);
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
th{
  background-color: #2a753c;
  color: #ffffff;
}

.dropbtn {
  background-color: var(--dark_green);
  color: #ffffff;
  padding: 10px;
  font-size: 16px;  
  border: none;
  cursor: pointer;
  width: 100%;
/*  display: none;*/
}